/*Reset*/
html ,div,p,a,h1,h2,h3,h4,h5,h6,span,input,form{
	padding:0pt;
	word-wrap:break-word;
	/*text-align: justify;
	*/margin:0pt;
}
table,tr,td{
word-wrap:break-word;
}

/*
input,select ,textarea , .etitle{
	max-width:95%;
}
*/
.navbar-simple{
	background:#363B3F;
	color:#E14D3F;

}

td{
	max-width:150px;
}
.width-300{
	max-width:300px;
	margin:0 auto ;
	margin-top:9px;
}

.dropdown-menu li a:hover {
     background: #E14D3F;
}
/*RESET END*/ 

body {
	background-color: #f1f1f1;
	/*
	background: url('10505511_489594707853431_513559801309238393_n.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
		*/
	
}
.etitle{
	width:97%;
}
.footer{
	max-width: 640px;
	padding:10px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);}
.form-login {
	max-width: 300px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-install {
	max-width: 300px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
	
.form-nav {
	max-width: 660px;
	margin: 0 auto 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	margin-top:5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signup{
	max-width: 300px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	margin-top:8px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.adminpanel{
/*	max-width: 640px;
	*/ max-width: 960px;
	padding:10px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.msg-form{
	max-width:300px;
	margin:0 auto;
	margin-top:10px;
}
.body{
	max-width: 640px;
	padding:10px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.brand:hover{
	color:#0088cc;
}

.comment-time{
	color:#999
}

.brand:focus{
	color:#005580;
}

/* Comment */
.avatar {
     float: left;
     overflow: hidden;
}

.comment-data {
     overflow: hidden;
}

.comment li {
     list-style:none;
     margin-bottom:5px;
     padding: 3px;
}
.comment-content{
	margin:0 0 0 75pt;
}


.ray {
     background: none repeat scroll 0% 0% red;
     margin-left: 75px;
     margin-top: 10px;
     position: relative;
}

.ray span.arrow {
     border-bottom: 24px solid #FFFFFF;
     border-right: 25px solid #EFEFEF;
     height: 1pt;
     left: 0px;
     position: absolute;
     top: 23px;
     width: 0pt;
}

.ray span.arrows {
     border-right: 25px solid #EFEFEF;
    border-top: 24px solid #FFFFFF;
     height: 1pt;
     left: 0px;
     position: absolute;
     top: 0px;
     width: 0pt;
}

.comment-content{
	border:1px solid #ccc;
	min-height:45px;
	padding:12px;
}



/* small framework */
.border-right{
	border-right:1px solid #ccc;
}
.border-left{
	border-left:1px solid #ccc;
}

.admincatpage {
     list-style: square outside none;
}


input[type='text']{
	.form-control;
}



input[type='text'],input[type='password']  ,textarea , select{
  display: block;
  width: 100%;
//  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
input[type='text']:focus ,textarea:focus ,input[type='password']:focus, , select:focus{
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
input[type='text']::-moz-placeholder ,textarea::-moz-placeholder,input[type='password']::-moz-placeholder  {
  color: #999;
  opacity: 1;
}
input[type='text']:-ms-input-placeholder  ,textarea:-ms-input-placeholder,input[type='password']:-ms-input-placeholder{
  color: #999;
}
input[type='text']::-webkit-input-placeholder ,textarea::-webkit-input-placeholder,input[type='password']-webkit-input-placeholder{
  color: #999;
}